# local package
# -e .

# # external requirements
# click
# Sphinx
# coverage
# awscli
# flake8
# python-dotenv
# mlflow
dagshub
# requests
# urllib3
matplotlib
seaborn
nltk
pandas
numpy
scikit-learn
scipy
statsmodels
statsmodels
mlflow